#uploadform{
   background-color: white;
   font-family: google sans text,Arial, Helvetica, sans-serif;
}#uploadform h1{
    font-size: 30px;
    letter-spacing: 1px;
    margin:20px;
}
#uploadform input{
    width:90%;
    height:40px;
    font-size: 22px;
    margin:20px;
    border-radius: 5px;
    border: 0px;
    outline: none;
}#uploadform label{
    margin-left: 20px;
}#uploadform select{
    width:150px;
    height:40px;
    font-size: 20px;
}#mainarticle{
    width:90%;
    height:200px;
    border: 1px solid grey;
    margin:30px;
    border-radius: 10px;
}#uploadform button{
    padding:15px;
    font-size: 20px;
    margin:30px;
    border-radius: 5px;
    background-color: dodgerblue;
    color:white;
    border:0px;
}#uploadform button:hover{
    background-color: rgb(22, 107, 192);
}