body{
    display:flex;
    flex-direction: column;
    align-items:center;
    font-family:Google sans text,Arial, Helvetica,sans-serif;
    text-align: center;
    overflow-x: hidden;
    background-color: rgb(252, 254, 255);
}#p1{
    font-size: 75px;
    margin-top: 0px;
    animation:fadeInUp 3.3s infinite;
    font-weight: 900;
}#navbar{
    position: fixed;
    width:100%;
    height:70px;
    background-color: #ffffff;
    display:flex;
    align-items: center;
    top:0;
    left:0;
    z-index: 2;
    scrollbar-width: none;
}#navbar button:hover{
    background-color: rgb(255, 255, 255);
    border:2px solid black;
    color:blue;
}
#search{
    color:rgb(255, 255, 255);
    border: 0px;
    background-color: rgb(0, 128, 255);
    position: absolute;right:115px;
   padding:15px;
   width:100px;
   font-size: 17px;
   border-radius: 40px;


}#about{
    color:dodgerblue;
    border: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;right:5px;
   padding:15px;
   width:100px;
   font-size: 17px;
   border-radius: 40px;
   border:1px solid grey;
   

}


#footer{
    width:100%;
    height:300px;
    background-color: rgb(219, 221, 221);
    left:0;
    margin-top: 100px;
}
#events{
    width:95%;
    padding-top: 20px;
    border-radius: 40px;
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
margin-top: 30px;
color:rgb(0, 0, 0);
}#a1{
    width:100%;
    max-width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}#a1 h1{
    width:200px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding:10px;
    font-size: 18px;
    border-radius: 40px;
    margin-left: 10px;
    box-shadow: 0px 0px 20px 0px rgb(136, 136, 136);
}#a2{
    height:300px;
    box-shadow: 0px 0px 20px 0px rgb(150, 150, 150);
    border-radius: 10px;
}#a2 h1{
    padding:15px;
    background-color: rgb(255, 255, 255);
    width:150px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgb(82, 226, 255);
}#a2 p{
    background-color: cornflowerblue;
    padding:15px;
    color:white;
    border-radius: 20px;

}
#show{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}#d1{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width:90%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:20px;
    overflow: hidden;
}#d1:hover{
    text-decoration: underline;
    box-shadow: 0px 0px 10px 0px grey;

}#show p{
    margin:20px;
}#show h1{
    margin-bottom: 0px;
}#show img{
    width:400px;
    border-radius: 20px;

}#d2{
    width:300px;
    text-align: left;
}#d2 h1{
    margin-left: 20px;

}#d2 p{
    margin-bottom: 30px;
}
#start{
    padding:15px;
    font-size: 20px;
    border-radius: 40px;
    margin:20px;
    border: 0px;
   background-color: rgb(3, 129, 255);
    color:white;
}#create{
    border: 2px solid rgb(163, 163, 163);
    padding:15px;
    font-size: 20px;
    margin:20px;
    border-radius: 40px;
    color:dodgerblue;
    background-color: #ffffff;
}#a3{
    padding:20px;
    border-radius: 30px;
    font-weight: 1000;
    box-shadow: 0px 0px 10px 0px rgb(82, 226, 255);

}#simpleanimation{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginform{
   position: fixed;
   margin-top:60px;
   background-color: #ffffff;
   z-index: 2;
   width:100%;
   height:100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: scale(0);
}
#loginform h1{
    padding:10px;
    border-radius: 30px;
    color:hsl(275, 100%, 50%);
    font-size: 100px;
}#loginform input{
    width:330px;
    height:60px;
    font-size: 20px;
    padding-left: 10px;
    border:2px solid hsl(273, 100%, 50%);
    border-radius: 10px;
}
#loginform button{
    padding:15px;
    margin:20px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
}#loginform p{
    font-size: 20px;
}
#submit{
    background-color: dodgerblue;
    color:white;
    
}#cross{
    position: absolute;
    left:10px;
    top:10px;
}
#cross2{
    position: absolute;
    left:10px;
    top:10px;
}
#signup{
    position: fixed;
    margin-top:60px;
    background-color: #ffffff;
    z-index: 2;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform:scale(0);
    
}#signup h1{
    padding:10px;
    border-radius: 30px;
    color:hsl(275, 100%, 50%);
    font-size: 100px;
    
}#signup input{
    width:330px;
    height:60px;
    font-size: 20px;
    padding-left: 10px;
    border:2px solid hsl(273, 100%, 50%);
    border-radius: 10px;
}#signup button{
    padding:15px;
    margin:20px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
}#submit2{
    background-color: rgb(98, 30, 255);
    color:white;
}
#frontanimation{
    display:flex;
    flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin-top:70px;
   background-color: transparent;
   width:100%;
   margin-bottom: 100px;
}#froimg{
width:95%;
max-width: 500px;
height:400px;
border: 2px solid grey;
border-radius: 40px;
}#frtext{
    width:100%;
    max-width: 400px;
    padding:20px;
    border-radius: 300px;
}
#div-box2{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}#div-box2 div{
    width:400px;
    height:400px;
    margin:30px;
    text-align: left;
    background-color: rgb(229, 237, 241);
    border-radius: 40px;
    
}#div-box2 h1{
    margin:30px;
}#div-box2 p{
    margin:30px;
    font-size: 20px;
}
#div-box2 img{
    width:400px;
    
}#projects{
    width:100%;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: scroll;
    scrollbar-width: none;
}#projects img{
    width:96%;
    max-width: 400px;
    height:400px;
    max-width: 450px;
    border-radius: 10px;
    border: 10px solid black;
}#pr{
    width:95%;
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}#pr div{
    margin:10px;
    width:400px;


  
}
#pr p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
    text-align: left;
}#projects div button{
    padding:20px;
    margin:30px;
    background-color: rgb(15, 155, 255);
    color:white;
    border: 0px;
    font-size: 20px;

    border-radius: 40px;
}

  #article-text {
    font-size: 60px;
    background: linear-gradient(140deg,rgb(238, 0, 255),rgb(58, 58, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 90px;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }#textarea-content{
    width:100%;
    max-width: 500px;
    height:250px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

  }#intro{
   background-image: url("animation.gif");
   width: 280px;
   height:280px;
   border-radius: 300px;
   overflow: hidden;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin:40px;
   border: 10px solid;
  border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(255, 255, 255) rgb(0, 0, 0) ;
  }#instructions{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }#instructions div{
    width:400px;
    height:150px;
    background-color: rgb(185, 255, 213);
    margin:30px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
    color:rgb(7, 146, 81)
  }#instructions div i{
    font-size: 40px;
    margin:20px;
    background-color: #ffffff;
    padding:30px;
    border-radius:50px;
  }#instructions div p{
    font-size: 20px;
    margin:10px;
    text-align: left;
  }#aboutvideo{
    width:90%;
    max-width: 900px;
    border-radius: 30px;
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    margin-bottom:50px;
  }.sph {
    position: absolute;
    background-color: #fff2f2;
    top:25%;
    z-index: -1;
    --s: 400px; /* adjust to control the size */
  
    width: var(--s); 
    aspect-ratio: 1;
    --g:/calc(var(--s)*0.158) calc(var(--s)*0.158) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.395) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.342) calc(50% + var(--s)*0.198) var(--g),calc(50% + var(--s)*0.198) calc(50% + var(--s)*0.342) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*0.395) var(--g),calc(50% + var(--s)*-0.198) calc(50% + var(--s)*0.342) var(--g),calc(50% + var(--s)*-0.342) calc(50% + var(--s)*0.198) var(--g),calc(50% + var(--s)*-0.395) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.342) calc(50% + var(--s)*-0.198) var(--g),calc(50% + var(--s)*-0.198) calc(50% + var(--s)*-0.342) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*-0.395) var(--g),calc(50% + var(--s)*0.198) calc(50% + var(--s)*-0.342) var(--g),calc(50% + var(--s)*0.342) calc(50% + var(--s)*-0.198) var(--g),radial-gradient(calc(var(--s)*0.445),#000 99%,#0000 101%) intersect,radial-gradient(#000 0 0) exclude,calc(50% + var(--s)*0.485) calc(50% + var(--s)*0.13) var(--g),calc(50% + var(--s)*0.355) calc(50% + var(--s)*0.355) var(--g),calc(50% + var(--s)*0.13) calc(50% + var(--s)*0.485) var(--g),calc(50% + var(--s)*-0.13) calc(50% + var(--s)*0.485) var(--g),calc(50% + var(--s)*-0.355) calc(50% + var(--s)*0.355) var(--g),calc(50% + var(--s)*-0.485) calc(50% + var(--s)*0.13) var(--g),calc(50% + var(--s)*-0.485) calc(50% + var(--s)*-0.13) var(--g),calc(50% + var(--s)*-0.355) calc(50% + var(--s)*-0.355) var(--g),calc(50% + var(--s)*-0.13) calc(50% + var(--s)*-0.485) var(--g),calc(50% + var(--s)*0.13) calc(50% + var(--s)*-0.485) var(--g),calc(50% + var(--s)*0.355) calc(50% + var(--s)*-0.355) var(--g),calc(50% + var(--s)*0.485) calc(50% + var(--s)*-0.13) var(--g);
  }.circle{
    width:100%;
    max-width:400px;
    width:95%;
   display:flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   border:2px solid rgb(149, 149, 149);
   border-radius: 50px;

 }.circle h1{
    opacity: 80%;
    font-size: 80px;
    width:120px;
    text-align: center;
    
 }.circleitem1{
    background-color: rgb(196, 255, 236);
    color: rgb(17, 158, 130);
    border-radius: 40px;
    padding:20px;
 }.circleitem2{
   background-color: rgb(211, 196, 255);
    color: rgb(104, 17, 158);
    border-radius: 130px;
    padding:20px;

 }.circleitem3{
    background-color: rgb(196, 229, 255);
    color: rgb(17, 88, 158);
    padding:40px;

    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
 }